// el-date-picker样式
.el-date-picker {
    background-color: #092f4e !important;
    border: 1px solid #1787b0 !important;

    // 日历容器
    .el-picker-panel__body-wrapper {
        .el-picker-panel__body {

            // 头部输入框
            .el-date-picker__time-header {
                border-bottom: 1px solid #053b64 !important;

                // 第二个时间输入框
                .el-date-picker__editor-wrap {

                    // 时间选择弹窗
                    .el-time-panel {
                        border: 1px solid #1787b0 !important;
                        border-radius: 4px !important;
                        box-shadow: none !important;
                        background-color: #092f4e !important;

                        // 上面时间部分
                        .el-time-panel__content {

                            // 分割线
                            &.el-time-panel__content:before {
                                // border-bottom: 1px solid var(--el-border-color-light);
                                border-bottom: 1px solid #053b64 !important;
                                border-top: 1px solid #053b64 !important;
                            }

                            // 每一项
                            .el-time-spinner__item {
                                color: #99d2f9;

                                // 鼠标移入每一项
                                &:hover:not(.is-disabled):not(.is-active) {
                                    background-color: rgba(0, 240, 255, 0.5);
                                    color: #ffffff;
                                }

                                // 当前选择的
                                &.is-active:not(.is-disabled) {
                                    color: #00f0ff;
                                }
                            }

                            // 滚动条容器
                            .el-scrollbar__bar {

                                // 滚动条
                                .el-scrollbar__thumb {
                                    background-color: #0c6e9b;

                                    &:hover {
                                        background-color: #0995d0;
                                    }
                                }
                            }
                        }

                        // 按钮部分
                        .el-time-panel__footer {
                            background-color: #092f4e !important;
                            border-top: 1px solid #1787b0 !important;
                            display: flex;
                            align-items: center;
                            justify-content: flex-end;

                            .el-time-panel__btn:nth-child(1) {
                                background-color: #092a42;
                                border-radius: 2px;
                                border: 1px solid #0acff9;
                                outline: none;
                                color: #0acff9;
                                padding: 0 5px;
                                height: 22px;
                                line-height: 22px;
                            }

                            .el-time-panel__btn:nth-child(2) {
                                background-color: #0b9baa;
                                border-radius: 2px;
                                color: #ffffff;
                                outline: none;
                                border: none;
                                padding: 0 5px;
                                height: 22px;
                                line-height: 22px;
                            }
                        }
                    }
                }
            }

            // 选择器头部
            .el-date-picker__header {

                // background-color: aqua;
                span {
                    color: #99d2f9;

                    button {
                        color: #99d2f9;
                    }
                }
            }

            // 选择器容器
            .el-picker-panel__content {

                // 年份选择
                .el-year-table {

                    // 未选择的
                    & td .cell {
                        color: #99d2f9;
                    }

                    // 当前选择的
                    & td.current:not(.disabled) .cell {
                        background-color: #00f0ff !important;
                        color: #fff !important;
                        // }
                    }
                }

                // 月份选择
                .el-month-table {

                    // 未选择的
                    & td .cell {
                        color: #99d2f9;
                    }

                    // 当前选择的
                    & td.current:not(.disabled) .cell {
                        background-color: #00f0ff !important;
                        color: #fff !important;
                    }
                }

                // 日期选择
                .el-date-table {

                    // 分割线
                    th {
                        border-bottom: 1px solid #053b64 !important;
                    }

                    tr {

                        // 上个月
                        .prev-month {
                            color: #355e87;
                        }

                        // 这个月
                        .available {
                            color: #99d2f9;
                        }

                        // 下个月
                        .next-month {
                            color: #355e87;
                        }

                        th,
                        td {

                            // 今天
                            &.today .el-date-table-cell__text {
                                color: #00f0ff;
                            }

                            // 鼠标移入
                            &.available:hover {
                                color: #00f0ff;
                            }

                            // 当前选择的
                            &.current:not(.disabled) .el-date-table-cell__text {
                                background-color: #00f0ff;
                                border-radius: 4px;
                                color: #ffffff;
                                outline: none;
                            }
                        }

                        th {
                            color: #99d2f9;
                        }
                    }
                }

            }

            // 年，月分割线
            .el-date-picker__header--bordered {
                border-bottom: 1px solid #053b64 !important;
            }
        }
    }

    // 底部按钮
    .el-picker-panel__footer {
        background-color: #092f4e !important;
        border-top: 1px solid #1787b0 !important;

        .el-button:nth-child(1) {
            background-color: #092a42;
            border-radius: 2px;
            border: 1px solid #0acff9;
            outline: none;
            color: #0acff9;
        }

        .el-button:nth-child(2) {
            background-color: #0b9baa;
            border-radius: 2px;
            color: #ffffff;
            outline: none;
            border: none;
        }
    }


}