.el-drawer {
    background-color: #092a42 !important;

    .el-drawer__body {
        padding: 0;

        .drawer-header {
            height: 40px;
            box-shadow: none;
            background: linear-gradient(to right, #08446e, #08446e, #022842);
            border-radius: 0 0 0 12px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 10px;
            position: relative;

            .title {
                display: flex;
                align-items: center;
                font-family: "Microsoft YaHei";
                font-weight: bold;
                font-size: 16px;
                font-weight: normal;
                font-stretch: normal;
                line-height: 9px;
                letter-spacing: 0px;
                color: #c6f9ff;

                &:before {
                    content: "";
                    display: inline-block;
                    width: 18px;
                    height: 18px;
                    margin-left: 10px;
                    margin-right: 5px;
                    background: url("@/assets/images/themeGeneral/dialog-title-icon.png") 100% 100% no-repeat;
                }
            }

            .button {
                width: 30px;
                height: 30px;
                position: absolute;
                top: 0px;
                right: 0px;
                background: url("@/assets/images/themeBlue/public/close-button.png") no-repeat;
                background-size: 100% 100%;
                cursor: pointer;
            }
        }
    }
}