// 表单
.el-form {

    // 下面的每一项
    .el-form-item {

        // label
        .el-form-item__label {
            font-family: "Microsoft YaHei" !important;
            font-size: 16px !important;
            color: #70c1df !important;
        }
    }
}